* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  display:flex;
  justify-content: center; 
  
}

.icon {
  display:flex;
  justify-content: center;
}

.link_text {
  display:flex;
  justify-content: center;
}


main {
  width: 100%;
  padding: 20px;
}

.sidebar {
  background-color: #416186;
  color: #BEDCFF;
  width: 72px;
  height: 1243px;
}

.top_section {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.link {
  color: #BEDCFF;
}