* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Anton';
  src: url('../src/fonts/Anton-Regular.ttf');
}

.container {
  display:flex;
  justify-content: center; 
  font-family: 'Roboto';
  font-weight: 500;
}

h1{
  font-family: 'Anton';
  font-weight: 400;
  color: #616972;
  font-size: 25px;
}


.icon {
  display:flex;
  justify-content: center;
}

.link_text {
  display:flex;
  justify-content: center;
}


main {
  width: 100%;
  padding: 40px;
}

.sidebar {
  background-color: #416186;
  color: #BEDCFF;
  width: 72px;
  height: 1243px;
}

.top_section {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.link {
  color: #BEDCFF;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  background: #2F4A69;
  transition: 0.3s ease;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  
}

.link:hover{
  background:#2F4A69;
  transition: all 0.5s;
}

.active{
  background:#2F4A69;
  
}
