* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Anton';
  src: url('../src/fonts/Anton-Regular.ttf');
}

.container {
  display:flex;
  justify-content: center; 
  font-family: 'Roboto';
  font-weight: 500;
}

h1{
  font-family: 'Anton';
  font-weight: 400;
  color: #616972;
  font-size: 25px;
}

.pic{
  padding-top:28px;
}

.icon {
 
  display:flex;
  justify-content: center;
}

.link_text {
  display:flex;
  justify-content: center;
}


main {
  width: 100%;
  padding: 40px;
}

.sidebar {
  background-color: #416186;
  color: #BEDCFF;
  width: 72px;
  height: 1243px;
}

.top_section {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.link {
  color: #BEDCFF;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s ease;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  
}

.link:hover{
  background:#2F4A69;
  transition: all 0.5s;
}

.active{
  background:#2F4A69;
  
}

.avatar{
  position: absolute;
    display: flex;
    align-items: center;
    right: 40px;
    top: 39px;
    z-index: 100;
    gap:15px;
}

.user_photo{
  background-color: #966789;
  border-radius: 30px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}


.name{
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin:0;
}

.addArticles{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px 10px 16px;
  gap: 8px;
  width: 146px;
  height: 40px;
  background: #7CAF8A;
  border-radius: 24px;
  
}

.search{
  display: flex;
  padding-top:36px;
  position: absolute;
}

* {box-sizing: border-box;}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
input, button {
  border: none;
  outline: none;
  border-radius: 3px;
}
input {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 12px 16px;
gap: 8px;
width: 296px;
height: 40px;
background: rgba(31, 52, 76, 0.08);
border-radius: 74px;
flex: none;
order: 0;
flex-grow: 0;
}
.searchButton {
  display: flex;
  align-items: center;
  height: 26px;
  width: 26px;
  position: absolute;
  background-color: rgba(31, 52, 76, 0.08);
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.searchButton:before {
  display: flex;
  justify-content: center;
  content: url(/src/icons/search.svg);
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

.sorted{
  display: flex;
  align-items: center;
  gap:20px;
  padding-left: 35px;
}

.by-date{
  display: flex;
  gap: 10.5px;
}

.by-name{
  display: flex;
  gap: 10.5px;
}